@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/*font-family: 'Noto Serif', serif;*/
/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: 'Bree Serif', serif;*/

*{margin: 0; padding: 0;box-sizing: border-box;}
ul,ol{list-style: none;}
a{text-decoration: none;}


html,body{
	margin: 0; padding: 0;
	width: 100%; height: 100%;
}
body{
    overflow: hidden;
}
.main_wrap{
	margin: 0; padding: 0;
	width: 100%; height: 100%;
    max-width: 100%; overflow-x: hidden; overflow-y: hidden;
}
header, section{
	width: 100%; height: 100%;
    max-width: 100%;
}

/*******************************intro*******************************/
.intro{
	width: 100%; height: 100%;
	background-color: #233833;
	display: flex;
	justify-content: center;
	position: relative;
}
.intro_wrap{
	position: relative; z-index: 1;
	display: flex;  flex-direction: column;
	align-content: center; justify-content: center;
}
.intro_logo_wrap{
	text-align: center;
}
.intro_logo{
	width: 18vw;
}
.intro span{
	position: absolute;
	width: 12%;
	font-family: 'Noto Sans KR', sans-serif;
	color: #006944;
	font-size: 4vw;
	letter-spacing: 2px;
    font-weight: 600;
	opacity: 0;
	transition: all .5s;
}
.intro_name_wrap{
	position: absolute; left: 50%; top: 70%; transform: translate(-50%,-50%);
	width: 30vw; height: 10%;
	display: flex;
}
.name1{
	left: 0; top: 0;
}
.name2{
	left: 12%; top: 0;
}
.name3{
	left: 24%; top: 0;
}
.name4{
	left: 36%; top: 0;
}
.name5{
	left: 48%; top: 0;
}
.name6{
	left: 60%; top: 0;
}
.name7{
	left: 72%; top: 0;
}
.name8{
	left: 84%; top: 0;
}
.name9{
	left: 96%; top: 0;
}
.name.on{
	top:20px;
	opacity: 1;
}
.intro_leaf{
	background: url(../images/intro_leaf.png) no-repeat right top/100% 100%;
	position: absolute; 
	right: 0;bottom: 0;
	width: 40vmax;height: 100%;
}
.intro_box{
	position: absolute; 
	left: 50%; top: 50%; 
	width: 95%; height: 95%; 
	border: 7px solid #ac8b6d;
	transform: translate(-50%,-50%);
}
/*******************************gnb*******************************/
.gnb_wrap{
	background-color: #233833;
	position: relative;
	overflow: hidden;
}
nav{
	width: 100%; height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; z-index: 1;
}
.gnb_bg{
	width: 100%;
	height: 480px;
	background-color: #1b2d28;
	display: flex;
	align-items: center;
}
.gnb{
	width: 100%; height: 300px;
	background-color: #35493b;
	border-top: 7px solid #ac8b6d;
	border-bottom: 7px solid #ac8b6d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gnb a{
	display: block;
	padding:0 5vw;
	color:#e9dec7;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.5vw;
	letter-spacing: 0px;
}

.gnb_flower{
	position: absolute; z-index: 5;
	width: 60vw; 
	height: 35%;
	opacity: .5;
}
.gnb_flower.num1{
	left: 0; top: -35%; 
	background:url(../images/gnb_flower_top.png) no-repeat center top/100%;
}

.gnb_flower.num4{
	right: 0; bottom:-35%;
	background:url(../images/gnb_flower_bottom.png) no-repeat center bottom/100%;
}
/*******************************gnb_wrap_next*******************************/

.gnb_bg_list_wrap{
	
	width: 100%;height: 100%;
	position: absolute; z-index: 0;
	bottom: 0%;
	display: flex;
	
}

.gnb_bg_list{
	width: 33.33%; height: 200%;
	text-align: center;
	position: absolute;  z-index: 1;
}
.gnb_bg_list li{
	width: 90%; height: 25%; 
	margin: 0 auto;
}
.gnb_bg_list li div{
	width: 100%; height: 90%; 
	
}
.gnb_bg_list.list_1{
	left: 0%; top: 0%; 

}
.gnb_bg_list.list_2{
	left: 33.33%; top: 0%; 

}
.gnb_bg_list.list_3{
	left: 66.66%; top: 0%; 
}

.list_img_1{
	
    background: url(../images/menu_1.png) no-repeat center/auto 100%;
}
.list_img_2{
    background: url(../images/menu_2.png) no-repeat center/auto  100%;
}
.list_img_3{
    background: url(../images/menu_3.png) no-repeat center/auto  100%;
}
.list_img_4{
    background: url(../images/menu_4.png) no-repeat center/auto  100%;
}
.list_img_5{
    background: url(../images/menu_5.png) no-repeat center/auto  100%;
}
.list_img_6{
    background: url(../images/menu_6.png) no-repeat center/auto  100%;
}
.list_img_7{
    background: url(../images/menu_7.png) no-repeat center/auto  100%;
}
.list_img_8{
    background: url(../images/menu_8.png) no-repeat center/auto  100%;
}
.list_img_9{
    background: url(../images/menu_9.png) no-repeat center/auto  100%;
}
.list_img_10{
    background: url(../images/menu_5.png) no-repeat center/auto  100%;
}
.list_img_11{
    background: url(../images/menu_6.png) no-repeat center/auto  100%;
}
.list_img_12{
    background: url(../images/menu_7.png) no-repeat center/auto  100%;
}


/****************************신음료1**************************/
.new_wrap_next{
	position: relative;
	background-color: #fff;
	overflow: hidden;
}
.new_wrap_bg{
	position: relative;
	width: 100%; height: 100%;
	padding-top: 5%;
	display: flex;
	justify-content: center; align-items: center;
	font-size:1.6vw;
}
.new_wrap_bg .line{
	position: absolute;
	
	background-color: #d7ccb6;
}
.new_wrap_bg .line_gray{
	position: absolute;
	opacity: 0.5;
	background-color: #5d5c5c;
}
.line_top{
	top: 15%; left: -100%; 
	width: 100%; height: 2px;
}
.line_top span{
	display: inline-block;
	left: 0;
	width: 30%; height: 2px;
}
.line_bottom{
	bottom: 5%; left:  100%;
	width: 100%; height: 2px;
}
.line_bottom span{
	right: 0;
	width: 30%; height: 2px;
}
.line_left{
	left: 5%; top: -100%; bottom: 0;
	width: 2px; height: 100%;
}
.line_left span{
	bottom: 0; left: 0;
	width: 2px; height: 30%;
}
.line_right{
	right: 5%; top: 100%; bottom: 0;
	width: 2px; height: 100%;
}
.line_right span{
	top: 0; left: 0;
	width: 2px; height: 30%;
}
.menu_mobile{
	display: none;
}
.menu{
    display: block;
	position: absolute; z-index: 100;
	right: 10vw; top: 5vw; 
}
.menu_list{
	display: flex;
}
.menu_list li a{
	color:#5d5c5c;
	padding:0 2vw;
	display: block;
	font-size: 1.1rem;
	letter-spacing: 1px;
}
.menu_list li a:hover{
	color: #333;
	font-weight: 400;
}
.menu_list li:last-child a{
	padding-right: 0;
}

.new_title{
	position: absolute;
	width: 100%;
	left: 0; top: 0;
	font-family: 'Bree Serif', serif;
	color:#5d5c5c;
	padding-bottom: 200px;
	letter-spacing: 3px;
}
.new_title h1{
	font-size: 3rem;
	
}
.new_title_1{
	position: absolute;
	/*left:10vw;*/ top: 55px;
	left: -100vw;
}



.new_gallery_wrap{
	width: 70vmax; height: 65vh;
	display: flex; 

}
.new_gallery{
	display: flex; flex-wrap: wrap; 
	width:70%; height: 100%;
	
}
.new_gallery li{
	width: 30%; margin-right: 1%; margin-bottom: 1%; height: 50%;
	padding: 10px 0;
	display: flex; flex-direction: column;
	align-content: space-around; justify-content: center;
	border:1px solid #dbdbdb;
	
}
.new_gallery li:nth-child(3n){
    margin-right: 0;
}
.new_gallery li a{
	
	display: block;
   width: 100%; height: 100%;
	padding-top: 5%;
	color: #909090;
	font-family: 'Noto Sans KR', sans-serif;
}
.img_wrap{
	display: block;
	width: 100%; height: 20vh;

}
.new_gallery_img{
	display: block;
	width: 15vh; height: 100%;
	margin: 0 auto;
	position: relative; z-index: 2;
	transition: all .5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
/*.new_gallery_img::after{
	content: ''; position: absolute; z-index: 1;
	left: 50%; bottom: -5px; width: 80%; height: 10%; 
	transform: translateX(-50%);
	border-radius: 50%;
	background-color: rgba(132,123,114,0.5);
	box-shadow: 0 0 5px #837b71;
}*/
.new_gallery_img.img1{
    
	background-image: url(../images/z1.png);
}
.new_gallery_img.img2{
	background-image: url(../images/z2.png);
}
.new_gallery_img.img3{
	background-image: url(../images/z3.png);
}
.new_gallery_img.img4{
	background-image: url(../images/z4.png);
}
.new_gallery_img.img5{
	background-image: url(../images/z5.png);
}
.new_gallery_img.img6{
	background-image: url(../images/z6.png);
}

.new_gallery li:hover .new_gallery_img{
	z-index: 1;
	transform: scale(1.1) ;
}

.title_wrap{
	display: block;
	width: 100%; height: 30%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1rem;
	color: #909090;
	letter-spacing: -1px;
	text-align: center;
	padding-top: 10%;
	font-weight: 300;
	line-height: 1;
	display: flex; align-items: center; justify-content: center;
}

.new_photo_wrap{
	position: relative;
	width: 30%; height: 101%; 
	display: flex; justify-content: center; align-items: center;
	border:1px solid #dbdbdb;
}
.new_square_wrap{
    position: relative; width: 70%; height: 80%;
    display: flex;
    flex-direction: column; justify-content: space-around; align-items: center;
	
}

.new_photo{
	width: 20vh; height: 30vh;
	position: relative; z-index: 2;
	margin-bottom:  20px;
}
.new_wrap_next .new_photo img{
    width: 100%; height: 100%;
}
/*.new_photo::after{
	content: ''; position: absolute; z-index: 1;
	left: 50%; bottom: -10px; width: 90%; height: 10%; 
	transform: translateX(-50%);
	border-radius: 50%;
	background-color: rgba(132,123,114,0.5);
	box-shadow: 0 0 5px #837b71;
}*/
.new_photo_wrap span{
	
    width: 100%; height: 15%;
	font-family: 'Noto Sans KR', sans-serif;
	color:#909090;
    text-align: center;
	font-size: 1.2rem;
	display: block;
	padding: 20px 0; 
	letter-spacing: -2px;
	font-weight: 300;
}
.new_photo_wrap p{
	display: block;
	width: 80%; height: 35%;
	padding: 10px 0;
	font-family: 'Noto Sans KR', sans-serif;
	color:#909090;
	font-size: 1rem;
	text-align: center;
	letter-spacing: -1px;
	line-height: 1.8;
	font-weight: 300;
}
.new_wrap_next_mobile{
    display: none;
}
/****************************리워드1****************************/
.reward_wrap_next{
	transition: all 1s;
	display: flex;
	position: relative; align-items: center; 
	
}
/*.reward_bg{
    position: absolute; z-index: 2;
	width: 100%; height: 100%; 
	background-color: #fff;
	opacity: .5;
}*/
.reward_bg_coffee{
	position: absolute; z-index: 3;
	left: 40%; top: 50%; 
	transform: translateY(-50%);
}
.reward_left_photo_next_box{
	position: relative; z-index: 2;
    width: 50%; height: 100%;
    display: flex; 
    background: url(../images/sofa.png) no-repeat left top/100% 100%;
}
.reward_left_photo_next{
	
	
}
.reward_left_next{
	z-index: 44;
	position: absolute;
	width: 30%; height: 45%; 
	left: -100%; top: 50%; 
	transform: translateY(-50%);
	background-color: #fff;
	border:2px solid #222e22;
	padding: 3%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.reward_left_next.login{
    width: 30%; height: 45%; 
	/*left: -100%; */top: 40%;/* left: 10%;*/
}
.reward_left_next.join{
    width: 50%; height:90%; 
	/*left: -100%; */top: 50%;/* left: 0%;*/
}
.reward_login_wrap{

	width: 90%; height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.btn_close{
	position: absolute;right: 50px; top:20px;
	font-weight: bold;
	font-size: 3rem;
	cursor: pointer;
}
.reward_left_next h1{
	
	font-family: 'Noto Sans KR', sans-serif;
	color:#222e22;
	font-size: 2.2rem;
	margin-bottom: 10px;
	font-weight:400;
	text-align: center;
}

.id_wrap{
	margin: 6% 0;
	
}
.reward_left_next.join .id_wrap{
    margin: 0;
}
.nm_wrap,.bir_wrap,.pw2_wrap,.id_wrap,.pw_wrap,.login_wrap{
	position: relative;
	width: 100%;
}
.login_btn{
	position: absolute; left: 20px; bottom: 0;
	line-height: 40px; 
	font-weight:10px00;
	margin-right: 5%;
	font-family: 'Noto Sans KR', sans-serif;
	color:#ededed;
	font-size: 1.2rem;
	color: #222e22;
}
.login_input{
	width: 100%;
	height: 40px;
	outline: none;
	border:0;
	border-bottom: 1px solid #222e22;
}
.login_wrap{
    display: flex;
	justify-content: center;
}


.btn_login{
	margin-top: 18%;
	font-weight:200;
	letter-spacing: 1px;
	width: 100%;
	height: 50px; line-height: 50px; text-align: center;
	background-color: #222e22;
	outline: none;
	border: 0;
	font-family: 'Noto Sans KR', sans-serif;
	color:#fff;
	font-size: 1.2rem;
}

.reward_right_next{
	
	width: 50%; height: 100%;
	position: relative;
	display: flex; justify-content: center; align-items: center;
}
.reward_title_next{
	
	width: 70%; height: 60%; 
	position: relative;
	font-family: 'Noto Sans KR', sans-serif;
	display: flex; flex-direction: column; justify-content: space-around;
	align-items: center; 
}
.reward_title_wrap{
	width: 80%; height: 20%;
	
	position: relative;
}
.reward_title_next h2{
	position: absolute;
	color:#222e22;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 3rem;
}
.title_3{ 
	left: 150%; top:0;
}
.title_4{ 
	left: 150%; top: 50%;
}
.reward_info_wrap{
	width: 80%; height: 45%; 
	display: flex; align-items: center;
}
.reward_info{
	display: inline-block;
	/*padding-top: 10vmax; padding-bottom: 10vmax;*/
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	color:#5d5c5c;
	font-size: 1.8vmin;
	line-height: 2;
	letter-spacing: -1px;
    font-weight: 300;
}
.bnt_login_wrap{
	width: 80%; height: 10%;
	
	display: flex; 
}
.reward_btn{
	width: 40%;
	height: 50px; line-height: 50px; text-align: center;
	font-weight: 500;
	border:2px solid #5d5c5c;
	
	font-family: 'Noto Sans KR', sans-serif;
	color:#5d5c5c;
	font-size: 1.2rem;
	cursor: pointer;
	letter-spacing: 1px;
}
.reward_btn.login{
	margin-right: 40px;
}
.reward_wrap_mobile{
	display: none;
}


/*******************************커피1*******************************/
.coffee_wrap_next{
    background-color: #faf6f3;
	position: relative;
	overflow: hidden;
}

.coffee_area2{
	position: relative;
	width: 100%; height: 100%;
    
}

.co_flower{
	position: absolute; z-index: 2;
	width: 26vw; 
	height: 62%;
	
}
.co_flower.num1{
	left: 0; top: 0%; z-index: 1;
	background:url(../images/coffee_flower_top.png) no-repeat center top/100% 70%;
	
}
.flower_top_show{
	animation: co_flower_top_show 3s  alternate  ease-in-out;
}
.co_flower.num4{
	right: 0; bottom:0%;z-index: 1;
	background:url(../images/coffee_flower_bottom.png) no-repeat center bottom/100% 100%;
	
}
.flower_bottom_show{
	animation: co_flower_bottom_show 3s  alternate ease-in-out;
}
@keyframes co_flower_top_show{
	0%{
		top:-50%
		
	}
	100%{
		top:0
	}
	
}
@keyframes co_flower_bottom_show{
	0%{
		bottom: -60%;
	}
	
	100%{
		bottom: 0;
	}
}
@media all and (max-width:850px){
	
	.co_flower{
		width: 30%; 
	}
}
@media all and (max-width:700px){
	.co_flower{
		width: 40%; 
	}
	
}
@media all and (max-width:500px){
	.co_flower{
		width: 40%; 
	}
	
}
.co_title{
	position: relative;
    font-family: 'Noto Sans KR', sans-serif;
	color:#515151;
	font-size: 2rem;
	width: 100%; height: 25%; 
	text-shadow: 2px 2px 0 #888;
}

.co_title .co_1{
	padding-left: 5%;
	padding-top: 4%;
}

.co_title .co_2{
	padding-left: 5%;
}
.coffee_area_next{
    display: flex; flex-direction: column;
    align-content: space-around;
}
.co_bg_next{
	width: 100%;
    height: 40vh;
    display: flex; justify-content: center; align-items: center;
	
}
.co_bg_img{
	position: relative;
	text-align: center;
    height: 34vh;
	margin-right: 5vw;
	animation: coffee_move 1s infinite alternate ease-in-out;
}
.co_photo{
    height: 100%;
}
.co_bg_img::after{
	content: '';
	position: absolute; 
	display: block;
	width: 20vh; height: 20px;
	border-radius: 50%;
	left: 50%; bottom: 0px;
	transform: translateX(-50%);
	background-color: rgba(132,123,114,0.5);
	box-shadow: 0 0 5px #837b71;
	animation: co_bg_img_shadow 1s infinite alternate ease-in-out;
}
@keyframes co_bg_img_shadow{
	to{
		width: 10vmax;
		bottom: -5px;
	}
}
.co_info{
    width: 35%;
    font-family: 'Noto Sans KR', sans-serif;
	color:#5d5c5c;
	font-size: 1.2rem;
	line-height: 2;
	letter-spacing: -1px;
}
.co_info h2{
	font-family: 'Noto Sans KR', sans-serif;
	color:#854d3e;
	letter-spacing: 1px;
    font-size: 1.6rem;
}
.co_info span{
    font-weight: 300;
    font-size: 1.8vh;
}

.co_list_wrap{
    display: flex;
    width: 100%; height: 25vh;
    justify-content: center;
   
}
.co_list{
    display: flex;
    width: 75%;
    justify-content: space-around;
}
.co_list li{
	width: 14%;
    height: 80%;
	display: flex;justify-content: center;align-items: center;
}
.co_list li a{
	display: block;
	width: 100%; height: 100%;
	position: relative; z-index: 3;
	cursor: pointer;
}

.co_list li a:hover{
	animation: coffee_move 1s infinite alternate ease-in-out;
}
@keyframes coffee_move{

	to{
		transform: translateY(-3%);
	}
}
.co_list li a:after{
	content: '';
	position: absolute; 
	display: block;
	width: 40%; height: 20px;
	border-radius: 50%;
	left: 50%; bottom: 10px;
	transform: translateX(-50%);
	background-color: rgba(132,123,114,0.5);
	box-shadow: 0 0 5px #837b71;
	
}
.co_list li a:hover:after{
	animation: co_list_shadow 1s infinite alternate ease-in-out;
}
@keyframes co_list_shadow{
	to{
		width: 35%;
		
	}
}
.co_list_1{
    background: url(../images/co1.png) no-repeat center/auto 25vh;
}
.co_list_2{
    background: url(../images/co2.png) no-repeat center/auto 25vh;
}
.co_list_3{
    background: url(../images/co3.png) no-repeat center/auto 25vh;
}
.co_list_4{
    background: url(../images/co4.png) no-repeat center/auto 25vh;
}
.co_list_5{
    background: url(../images/co5.png) no-repeat center/auto 25vh;
}
.co_list_6{
    background: url(../images/co6.png) no-repeat center/auto 25vh;
}
.coffee_wrap_next_mobile{
	display: none;

}
/*******************************리저브1*******************************/
.reserve_wrap_next{
   	background-color: #fff;
    position: relative;
	overflow: hidden;
}
.reserve_bg{
	position: absolute; width: 100%; height: 100%;
	background-color: #000; opacity: 0;
}
.re_title{
	position: absolute;
	width: 50%; height: 7%;
	left: 5%; top: 15%;
	font-family: 'Noto Sans KR', sans-serif;
	color:#233833;
	font-size: 3vh;
	display: flex;
	
}
.re_title_logo_wrap{
	width: 15%;
	display: flex; align-items: center;
	
}
.re_title_logo{
	width: 80%;
}
.re_title_wrap{
	width: 70%;
	display: flex; flex-wrap: wrap;
	align-content: center;
}
.re_list_info_wrap{
    width: 100%; height: 100%; padding-top: 20vh;
    display: flex; flex-direction: column; 
    justify-content: center; align-items: center;
}
.re_list_wrap{
    position: relative;
    width: 60%;  
}
.oh{
    width: 100%; height: 100%; overflow: hidden;
	
}
.re_list{
	position: relative; left: 0;top: 0;
    width: 344%; height: 100%;
    display: flex;
}
.re_list li{
    width: 32%; height: 40vh; margin-right: 1%; /*35.2*/
    border: 1px solid #233833; padding: 0.1%;
}
.store{
    width: 100%; height: 90%; 
}
.re_store_wrap{
	width: 100%; height: 10%;
	display: flex; justify-content: center; align-items: center;
}

.re_store1{
    background: url(../images/reserve_1.jpg) no-repeat center/100% 100%;
}
.re_store2{
    background: url(../images/reserve_2.jpg) no-repeat center/100% 100%;
}
.re_store3{
    background: url(../images/reserve_3.jpg) no-repeat center/100% 100%;
}
.re_store4{
    background: url(../images/reserve_4.jpg) no-repeat center/100% 100%;
}
.re_store5{
    background: url(../images/reserve_5.jpg) no-repeat center/100% 100%;
}
.re_store6{
    background: url(../images/reserve_6.jpg) no-repeat center/100% 100%;
}
.re_store7{
    background: url(../images/reserve_7.jpg) no-repeat center/100% 100%;
}
.re_store8{
    background: url(../images/reserve_8.jpg) no-repeat center/100% 100%;
}
.re_store9{
    background: url(../images/reserve_9.jpg) no-repeat center/100% 100%;
}
.re_store10{
    background: url(../images/reserve_10.jpg) no-repeat center/100% 100%;
}
.re_store{
	display: block;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	color:#9f9f9f;
	
}

.abtn {
    position: absolute; z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 5%; 
}

.abtn img {
    width: 100%; 
}

.lb {
    left: -7%;
}

.rb {
    right: -7%;
}

.re_info_next{
	width: 100%; height: 25%;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
}
.re_info_next span{
	display: inline-block;
	text-align: center;
	width: 40%;
    font-family: 'Noto Sans KR', sans-serif;
	color:#9f9f9f;
    font-weight: 300;
	font-size: 2vh;
	line-height: 1.8;
	letter-spacing: -1px;
}
.re_info_next span b{
	font-weight: normal;
}